@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  text-align: center;
  border: 2px solid burlywood;
  border-radius: 7px;
  background-color: lightpink;
  width: 600px;
  margin-top: 8px;
}

.App button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: 1px solid burlywood;
  border-radius: 20px;
  margin: 8px;
  padding: 10px 20px;
}

.App button:hover {
  background-color: white;
  transition: 0.4s;
}

.App img {
  margin-top: 6px;
  border-radius: 10px;
}